<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--https://docs.microsoft.com/en-us/previous-versions/dd465326(v=vs.100)?redirectedfrom=MSDN-->
    <add key="previousUser" value=""/>
    <add key="custSecret" value=""/>
    <add key="interfaceUrl_mes" value="http://192.168.200.132:8081/DI/DIExecute.action"/>
    <!--
    <add key="connectionString" value="Data Source=192.168.200.48;Initial Catalog=dsdwms;Persist Security Info=True;User ID=taimao;Password=sd.258963;Asynchronous Processing=true"/>
    -->
    <add key="connectionString" value="Data Source=.;Initial Catalog=dsdwms;Persist Security Info=True;User ID=taimao;Password=sd.258963;Asynchronous Processing=true"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="D:\Log\UploadDataService\application.log" />
        <!--<add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>-->
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
