<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WcsWebServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WcsWebServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44315/WcsWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WcsWebServiceSoap"
                contract="WcsWebServiceReference.WcsWebServiceSoap" name="WcsWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>